@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('/fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: white;
}

.loader-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  opacity: 0.2;
  animation: growBar 3s linear forwards;
}

@keyframes growBar {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}



@keyframes curtainLeftOpen {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-10%); 
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes curtainRightOpen {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(10%); 
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-curtainLeftOpen {
  animation: curtainLeftOpen 1.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.animate-curtainRightOpen {
  animation: curtainRightOpen 1.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0; 
  animation: fadeUp 1s forwards ease-out;
}

.fade-up-delay-1 { animation-delay: 4s !important; }
.fade-up-delay-2 { animation-delay: 4.2s !important; }
.fade-up-delay-3 { animation-delay: 4.3s !important; }
.fade-up-delay-4 { animation-delay: 4.4s !important; }

@keyframes slideInLeft {
  0% { opacity: 0; transform: translateX(-60px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
  0% { opacity: 0; transform: translateX(60px); }
  100% { opacity: 1; transform: translateX(0); }
}

.animate-slide-left {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
}

.animate-slide-right {
  opacity: 0;
  animation: slideInRight 1s ease-out forwards;
}

@keyframes bounceHuge {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animate-bounce-huge {
  animation: bounceHuge 2s ease-out;
}

.bounce-delay-1 {
  animation-delay: 4s;
}

.bounce-delay-2 {
  animation-delay: 4.5s;
}

.bounce-delay-3 {
  animation-delay: 0.4s;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.phase-card.slide-up {
  animation: slide-up 0.7s forwards;
}

.delay-1 { animation-delay: 0.1s; }
.delay-2 { animation-delay: 0.3s; }
.delay-3 { animation-delay: 0.5s; }
.delay-4 { animation-delay: 0.7s; }
.delay-5 { animation-delay: 0.9s; }
.delay-6 {animation-delay: 1.2s;}

.join-journey-bg {
  background-image: url('/images/joinjourney.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}





